/****** BASE STYLES ******/

html {
    font-size: 16px;
}


body {
    background: hsl(257, 40%, 49%);
    background-image: url('../images/bg-mobile.svg');
    background-position: center top;
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0px;
} 

header {
    width: 375px;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 50px;
}

p {
    font-weight: 400;
    margin: 15px 0 30px;
    padding: 0 8px;
    line-height: 1.5;
}

#logo {
    float: left;
    width: 120px;
    padding: 10px;
    margin-top: 10px;
}

.container {
    width: 375px;
    margin: 0 auto;
}

#main-image {
    width: 295px;
    margin-top: 50px;
}

#register {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-decoration: none;
    background: #ffffff;
    color: hsl(257, 40%, 49%);
    padding: 10px 80px;
    border-radius: 25px;
}

#register:hover {
    color: white;
    background: #e980e7;
}

.social {
    border: .5px solid white;
    margin-top: 70px;
    height: 14px;
    width: 14px;
    padding: 6px;
    border-radius: 50%;
}

.social {
    fill: #fff;
}

.social:hover {
    fill: #e882e8;
    border-color: #e882e8;
}

.social:nth-of-type(2n) {
    margin: 0 7px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
}
.attribution a { 
    color: #e882e8;
}

/****** MEDIA QUERIES ******/

@media (min-width: 1440px) {

    body {
        background-image: url('../images/bg-desktop.svg');
        padding: 65px 80px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 25px;
    }

    header {
        width: 100%;
    }

    p {
        font-size: 1.1rem;
        padding-bottom: 15px;
    }

    #logo {
        width: 200px;
        padding: 0;
    }

    #main-image {
        width: 695px;
        float: left;
        margin-top: 0;
    }

    .container {
        padding-top: 50px;
        margin-top: 80px;
        height: 630px;
        width: 100%;
    }

    #col-1 {
        width: 50%;
    }

    #col-2 {
        text-align: left;
        /* padding: 20px 0 20px 20px; */
        width: 40%;
        float: right;
    }

    #register {
        font-size: 1.1rem;
        padding: 15px 65px;
    }

    aside {
        float: right;
    }

    footer {
        float: none;
        width: 100%;
    }

    .social {
        height: 21px;
        width: 21px;
        padding: 10px;
        margin-top: 225px;
    }
    
    .social:nth-of-type(2n) {
        margin: 0 9px;
    }

}